@import "tailwindcss";

@theme {
  --color-primary: #fcd8be;
  --color-primary-dark: #ffbe8f;
  --color-secondary: #6f286c;
  --color-secondary-dark: #4a1a48;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}